{:deps    {org.clojure/clojure {:mvn/version "1.12.3"}
           com.hyperfiddle/hyperfiddle-agent {:mvn/version "v0-alpha-SNAPSHOT"}

           ;; Datomic peer + drivers for various backends
           com.datomic/peer {:mvn/version "1.0.7491"}
           com.amazonaws/aws-java-sdk-dynamodb {:mvn/version "1.12.564"} ; `datomic:ddb://`
           org.postgresql/postgresql {:mvn/version "42.7.9"}  ; `datomic:sql://`
           com.mysql/mysql-connector-j {:mvn/version "9.5.0" ; `datomic:sql://`
                                        :exclusions [com.google.protobuf/protobuf-java]}
           com.datastax.oss/java-driver-core-shaded {:mvn/version "4.17.0"} ; `datomic:cass3://`

           ch.qos.logback/logback-classic {:mvn/version "1.4.14"}}
 :paths   ["src" "resources"]
 :aliases {:dev {:extra-paths ["src-dev"]}
           :prod {:extra-paths ["src-prod"]}
           :local {:override-deps {com.hyperfiddle/electric            {:local/root "../electric"}
                                   com.hyperfiddle/hyperfiddle         {:local/root "../hyperfiddle"}
                                   com.hyperfiddle/hyperfiddle-contrib {:local/root "../hyperfiddle-contrib"}
                                   com.hyperfiddle/hyperfiddle-agent   {:local/root "../hyperfiddle-agent"}}}
           :build {:extra-paths ["src-build"]
                   :ns-default  build
                   :extra-deps  {io.github.clojure/tools.build {:mvn/version "0.10.8"}}}}
 :mvn/repos
 {"clojars" {:url "https://repo.clojars.org/" :snapshots {:enabled true :update :always}}}}
