{:builds {:dev
          {:target :browser
           :output-dir "resources/public/hyperfiddle-demo/js"
           :asset-path "/hyperfiddle-demo/js"
           :modules {:main {:entries [dev] :init-fn dev/-main}}
           :build-hooks [(hyperfiddle.electric.shadow-cljs.hooks3/reload-clj)]}
          :prod
          {:target :browser
           :output-dir "resources/public/hyperfiddle-demo/js"
           :asset-path "/hyperfiddle-demo/js"
           :modules {:main {:entries [prod] :init-fn prod/-main}}}}
 :nrepl false ; not needed for the demo – less verbose boot
 }
